@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'UVNHongHaHepRegular';
    src: url('http://cf.vtcgame.vn/fonts/uvnhonghahep_r-webfont.eot');
    src: url('http://cf.vtcgame.vn/fonts/uvnhonghahep_r-webfont.eot?iefix') format('eot'), url('http://cf.vtcgame.vn/fonts/uvnhonghahep_r-webfont.woff') format('woff'), url('http://cf.vtcgame.vn/fonts/uvnhonghahep_r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #212121;
    background-color: #000;
}

#divHeader {
    top: 0;
}

.bg1 {
    background-image: url('http://cf.vtcgame.vn/images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top -30px;
}

.bg2 {
    background-image: url('http://cf.vtcgame.vn/images/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.h_header {
    background: url(http://cf.vtcgame.vn/images/header.jpg) center top no-repeat;
    width: 100%;
    height: 75px;
}

.page {
    width: 1000px;
    margin: 0 auto;
}

/*---------------- menu chinh -----------------------*/
.menu_c {
    height: 355px;
    background: url(http://cf.vtcgame.vn/images/bg_m.png) center bottom no-repeat;
    padding: 200px 0 0 0;
    margin-top: 20px;
}

.search {
    height: 40px;
    /* padding: 240px 0 0 0; */
}

    .search input {
        float: right;
        background: url(http://cf.vtcgame.vn/images/search.png) 0px 6px no-repeat;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px #262626 dashed;
        height: 30px;
        width: 260px;
        margin-top: 0px;
        padding: 0 0 0 25px;
        /* color: #fff; */
    }

a.seach_button {
    /*.search {*/
    background: url(http://cf.vtcgame.vn/images/enter.png) right 250px no-repeat;
    height: 28px;
    width: 50px;
    float: right;
    margin: 8px -300px 0px 0;
    background-position: 0px 0px;
}

.menu_c ul.me_ch {
    font-family: 'UVNHongHaHepRegular';
}

    .menu_c ul.me_ch li {
        float: left;
        margin-top: 40px;
        background: url(http://cf.vtcgame.vn/images/ke.png) right top no-repeat;
        padding-right: 2px;
    }

        .menu_c ul.me_ch li:last-child {
            background: none;
            padding-right: 0px;
        }

        .menu_c ul.me_ch li a {
            display: block;
            height: 75px;
            font-size: 22px;
            color: #fff;
        }

            .menu_c ul.me_ch li a:hover {
                color: #ff3535;
            }

            .menu_c ul.me_ch li a span {
                display: block;
                padding: 22px 30px 0 38px;
                /* margin-top: 40px; */
            }

                .menu_c ul.me_ch li a span.nhon {
                    background: url(http://cf.vtcgame.vn/images/nhon.png) center bottom no-repeat;
                    padding-bottom: 13px;
                }

            .menu_c ul.me_ch li a.chon {
                display: block;
                height: 75px;
                font-size: 22px;
                color: #ff3535;
            }

    .menu_c ul.me_ch .tab_con {
        position: relative;
    }

        .menu_c ul.me_ch .tab_con .list_tab_con {
            position: absolute;
            top: 50px;
            left: -3px;
            width: 180px;
            background: #000;
            height: 1px;
            overflow: hidden;
            opacity: 0;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            z-index: 100;
        }

        .menu_c ul.me_ch .tab_con:hover .list_tab_con {
            opacity: 1;
            top: 75px;
            height: auto;
        }

        .menu_c ul.me_ch .tab_con .list_tab_con li {
            display: block;
            float: none;
            background: none;
            border-bottom: 1px solid #141415;
            height: 1px;
            line-height: 18px;
            padding: 0 20px;
        }

.tab_con .list_tab_con li a {
    font-family: 'UVNHongHaHepRegular';
    font-size: 16px !important;
    line-height: 40px;
}

.menu_phu {
    display: none;
}

/*---------------- noi dung -----------------------*/
.nd {
    background: url(http://cf.vtcgame.vn/images/bg_n.jpg) center repeat-y;
    padding: 15px;
    /* margin-top: -36px; */
}

    .nd .trai {
        width: 300px;
        float: left;
    }

    .nd .phai {
        width: 655px;
        float: right;
    }

.tin1 {
    background: #212121;
    margin-bottom: 15px;
    height: 230px;
    overflow: hidden;
}

    .tin1 .anh {
        float: right;
        width: 360px;
        /*Tung co*/
        display: block;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        /* end Tung co*/
    }

    .tin1 .tin11 {
        float: left;
        width: 295px;
    }

        .tin1 .tin11 a {
            display: block;
            font-family: 'UVNHongHaHepRegular';
            background: url(http://cf.vtcgame.vn/images/s1.png) 10px 12px no-repeat;
            border-bottom: 1px solid #414243;
            line-height: 35px;
            font-size: 14px;
            color: #fff;
            padding: 1px 0 0 32px;
        }

            .tin1 .tin11 a:hover {
                background: url(http://cf.vtcgame.vn/images/s1.png) #b81515 10px 12px no-repeat;
            }

.tin2 {
    margin-bottom: 15px;
}

.title {
    background: #121212;
    height: 55px;
    overflow: hidden;
}

    .title span {
        display: inline-block;
        width: 50px;
        padding: 10px 0 0 10px;
    }

    .title ul.text {
        float: right;
        width: 590px;
        text-transform: uppercase;
    }

        .title ul.text li {
            float: left;
            padding: 0 30px 0 10px;
            line-height: 54px;
            font-family: 'UVNHongHaHepRegular';
            font-size: 24px;
            color: #fff;
        }

            .title ul.text li a {
                font-size: 24px;
                /*color: #676767;*/
                color: #ffffff;
            }

                .title ul.text li a:hover {
                    color: #ff3535;
                }

.focusText {
    font-family: 'UVNHongHaHepRegular';
    font-size: 24px !important;
    color: #fff !important;
}

.list_t {
    background: #212121;
    height: 189px;
    overflow: hidden;
    /*Tung co*/
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* end Tung co*/
}

    .list_t .img {
        width: 295px;
        float: left;
    }

    .list_t .list_to {
        width: 340px;
        float: right;
        padding-top: 16px;
    }

        .list_t .list_to a {
            display: block;
            font-family: 'UVNHongHaHepRegular';
            border-bottom: 1px solid #414243;
        }

            .list_t .list_to a.tin_to {
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                padding-bottom: 10px;
            }

            .list_t .list_to a:hover.tin_to {
                color: #ff3535;
            }

            .list_t .list_to a.tin_nho {
                font-size: 14px;
                color: #919090;
                background: url(http://cf.vtcgame.vn/images/s2.png) 10px 10px no-repeat;
                line-height: 34px;
                padding-left: 30px;
            }

            .list_t .list_to a:hover.tin_nho {
                background: url(http://cf.vtcgame.vn/images/s1.png) #b81515 10px 10px no-repeat;
                color: #fff;
            }

.list_n {
    height: 189px;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #b9b9b9;
}

    .list_n .img {
        width: 295px;
        float: left;
    }

    .list_n .list_to {
        width: 340px;
        float: right;
        padding-top: 10px;
    }

        .list_n .list_to a {
            display: block;
            font-family: 'UVNHongHaHepRegular';
            font-size: 18px;
            color: #121212;
            text-transform: uppercase;
            padding-bottom: 10px;
        }

            .list_n .list_to a:hover {
                color: #ff3535;
            }

        .list_n .list_to .time {
            font-size: 11px;
            padding-bottom: 5px;
            color: #7a7a7a;
        }

        .list_n .list_to .tomtat {
            font-size: 14px;
            line-height: 20px;
            padding-bottom: 10px;
        }

.list_nDoiten {
    height: 300px;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #b9b9b9;
}

    .list_nDoiten .img {
        width: 295px;
        float: left;
    }

    .list_nDoiten .list_to {
        width: 340px;
        float: right;
        padding-top: 10px;
    }

        .list_nDoiten .list_to a {
            display: block;
            font-family: 'UVNHongHaHepRegular';
            font-size: 18px;
            color: #121212;
            text-transform: uppercase;
            padding-bottom: 10px;
        }

            .list_nDoiten .list_to a:hover {
                color: #ff3535;
            }

        .list_nDoiten .list_to .time {
            font-size: 11px;
            padding-bottom: 5px;
            color: #7a7a7a;
        }

        .list_nDoiten .list_to .tomtat {
            font-size: 14px;
            line-height: 20px;
            padding-bottom: 10px;
        }

.download {
    margin-bottom: 15px;
}

    .download .menu_p {
        width: 300px;
        height: 70px;
        background: url(http://cf.vtcgame.vn/images/3n.jpg) center top no-repeat;
    }

        .download .menu_p a {
            display: inline-block;
            width: 100px;
            height: 70px;
            float: left;
        }

a.dangky {
    background: url(http://cf.vtcgame.vn/images/3m.png) 0px 0px no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover.dangky {
    background: url(http://cf.vtcgame.vn/images/3m.png) 0px -70px no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a.napvcoin {
    background: url(http://cf.vtcgame.vn/images/3m.png) -100px 0px no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover.napvcoin {
    background: url(http://cf.vtcgame.vn/images/3m.png) -100px -70px no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a.hotro {
    background: url(http://cf.vtcgame.vn/images/3m.png) -200px 0px no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover.hotro {
    background: url(http://cf.vtcgame.vn/images/3m.png) -200px -70px no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.qc {
    margin-bottom: 15px;
}

.video {
    background: #212121;
    height: 310px;
    overflow: hidden;
}

    .video .play {
        float: left;
        width: 485px;
        height: 310px;
        position: relative;
    }

    .video .list_v {
        float: right;
        width: 485px;
    }

        .video .list_v .title {
            background: #121212;
            height: 55px;
            overflow: hidden;
        }

            .video .list_v .title span {
                display: inline-block;
                width: 50px;
                padding: 10px 0 0 10px;
            }

            .video .list_v .title ul.text {
                float: right;
                width: 425px;
                text-transform: uppercase;
            }

                .video .list_v .title ul.text li {
                    float: left;
                    padding: 0 30px 0 10px;
                    line-height: 54px;
                    font-family: 'UVNHongHaHepRegular';
                    font-size: 24px;
                    color: #fff;
                }

        .video .list_v .list_to {
            width: 465px;
            float: right;
            padding-top: 16px;
        }

            .video .list_v .list_to a {
                display: block;
                font-family: 'UVNHongHaHepRegular';
                border-bottom: 1px solid #414243;
            }

                .video .list_v .list_to a.tin_to {
                    font-size: 18px;
                    color: #fff;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                }

                .video .list_v .list_to a:hover.tin_to {
                    color: #ff3535;
                }

                .video .list_v .list_to a.tin_nho {
                    font-size: 14px;
                    color: #919090;
                    background: url(http://cf.vtcgame.vn/images/s2.png) 10px 10px no-repeat;
                    line-height: 34px;
                    padding-left: 30px;
                }

                .video .list_v .list_to a:hover.tin_nho {
                    background: url(http://cf.vtcgame.vn/images/s1.png) #b81515 10px 10px no-repeat;
                    color: #fff;
                }

.footer {
    /* width: 590px; */
    font-size: 11px;
    color: #ccc;
    line-height: 18px;
    padding-top: 15px;
    background: url(http://cf.vtcgame.vn/images/logo.png) 40px 10px no-repeat;
    padding-left: 415px;
    padding-bottom: 15px;
}

.phantrang {
    padding: 15px 0;
    text-align: center;
}

    .phantrang ul {
        font-family: 'UVNHongHaHepRegular', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

        .phantrang ul li {
            display: inline;
        }

            .phantrang ul li a {
                border: 1px solid #fff;
                background: #828282;
                color: #e9e9e9;
                padding: 0 10px 2px 10px;
                margin: 0 2px;
            }

                .phantrang ul li a:hover {
                    background: #de0000;
                }

                .phantrang ul li a.fix {
                    background: #de0000;
                }

.new_view {
    padding: 15px 0 15px 0;
}

    .new_view h1 {
        font-family: 'UVNHongHaHepRegular', Arial, Helvetica, sans-serif;
        font-size: 22px;
        color: #000;
        padding: 0 0 5px 0;
        font-weight: normal;
    }

    .new_view .link {
        float: right;
        margin-top: 12px;
    }

    .new_view span {
        font-size: 11px;
        /*color: #7b7b7b;*/
        color: black;
        display: block;
        margin-bottom: 5px;
    }

        .new_view span strong {
            font-size: initial;
        }

    .new_view div {
        line-height: 20px;
    }

        .new_view div p {
            text-align: justify;
            padding: 10px 0;
        }

            .new_view div p span {
                line-height: 1.5 !important;
            }

                .new_view div p span strong span {
                    font-size: 12px;
                }

/*.new_view div p embed {
                padding: 0;
                list-style: none;
                outline: none;
                margin: 0 0px 0 55px;
            }*/

.new_tag {
    background: url(http://cf.vtcgame.vn/images/tag.png) left top no-repeat;
    line-height: 30px;
    padding: 0 0 15px 36px;
}

    .new_tag a {
        color: #919191;
    }

        .new_tag a:hover {
            color: #ef0022;
        }

.new_title {
    font-family: 'UVNHongHaHepRegular', Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 10px 0 0 0;
    border-top: 1px solid #b9b9b9;
}

.khac_title {
    font-family: 'UVNHongHaHepRegular', Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 10px 0 0 0;
    color: #b81515;
    border-top: 1px solid #b9b9b9;
}

.new_khac {
    padding: 10px 0 0 10px;
}

    .new_khac a {
        display: block;
        background: url(http://cf.vtcgame.vn/images/s2.png) left 0px no-repeat;
        margin-bottom: 7px;
        padding: 1px 0 0 25px;
        color: #262626;
    }

        .new_khac a span {
            float: right;
            color: #7a7a7a;
        }

        .new_khac a:hover {
            color: #ef0022;
        }

.list_anh {
    padding: 15px 0 0 0;
}

    .list_anh ul {
    }

        .list_anh ul li {
            float: left;
            margin: 10px 8px;
            text-align: center;
        }

            .list_anh ul li a {
                color: #262626;
            }

                .list_anh ul li a:hover {
                    color: #ef0022;
                }

                .list_anh ul li a img {
                    width: 200px !important;
                }

                .list_anh ul li a p {
                    padding-top: 5px;
                }

.tieu_diem {
    font-size: 14px;
    font-weight: bold;
    background: url(http://cf.vtcgame.vn/images/note.png) 0px 5px no-repeat;
    padding: 7px 0 0px 30px !important;
    text-align: left !important;
    display: block;
}

.new2 {
    padding: 10px 0 0 10px;
}

    .new2 a {
        display: block;
        background: url(http://cf.vtcgame.vn/images/s2.png) left 3px no-repeat;
        margin-bottom: 5px;
        padding: 1px 0 3px 20px;
        color: #ba4412;
        border-bottom: 1px dotted #a6a6a6;
    }

        .new2 a span {
            float: right;
            color: #7a7a7a;
        }

        .new2 a:hover {
            color: #ef0022;
        }

.tieu_note {
    font-weight: bold;
    background: url(http://cf.vtcgame.vn/images/note2.png) 0px 5px no-repeat;
    padding: 7px 0 3px 30px !important;
    color: #ba4412;
    font-size: 14px;
}

.new3 {
    padding: 10px 0 0 10px;
}

    .new3 a {
        display: block;
        background: url(http://cf.vtcgame.vn/images/s2.png) left 3px no-repeat;
        margin-bottom: 5px;
        margin-left: 10px;
        padding: 1px 0 3px 20px;
        color: #ba4412;
    }

        .new3 a span {
            float: right;
            color: #7a7a7a;
        }

        .new3 a:hover {
            color: #ef0022;
        }

/*popup not login*/

.popup_NotLogin {
    background: rgba(0,0,0,0.9);
    width: 780px;
    min-height: 80px;
    margin: 160px auto 0;
    position: relative;
}

    .popup_NotLogin a.p_dong {
        position: absolute;
        width: 30px;
        height: 30px;
        background: url(http://cf.vtcgame.vn/images/dong.png) center top no-repeat;
        background-size: 96%;
        top: 10px;
        right: 10px;
    }

.pNotLogin_nd {
    font-size: 14px;
    color: #fff;
    padding: 0 30px 10px 30px;
    line-height: 70px;
    text-align: center;
}

    .pNotLogin_nd span {
        font-weight: bold;
        color: #4cff2e;
    }

.popup_Npu_CheckReRegister {
    background: rgba(0,0,0,0.9);
    width: 780px;
    min-height: 220px;
    /*margin: 100px auto 0;*/
    position: relative;
}

    .popup_Npu_CheckReRegister a.p_dong {
        position: absolute;
        width: 58px;
        height: 58px;
        background: url(http://cf.vtcgame.vn/images/dong.png) center top no-repeat;
        top: 10px;
        right: 10px;
    }

.popup_Npu_NotValid {
    background: rgba(0,0,0,0.9);
    width: 780px;
    min-height: 360px;
    /*margin: 100px auto 0;*/
    position: relative;
}

    .popup_Npu_NotValid a.p_dong {
        position: absolute;
        width: 58px;
        height: 58px;
        background: url(http://cf.vtcgame.vn/images/dong.png) center top no-repeat;
        top: 10px;
        right: 10px;
    }

.popup_giftcode {
    background: rgba(0,0,0,0.9);
    width: 500px;
    min-height: 265px;
    /*margin: 100px auto 0;*/
    position: relative;
    margin: 80px 0 0 80px;
}

    .popup_giftcode a.p_dong {
        position: absolute;
        width: 30px;
        height: 30px;
        background: url(http://cf.vtcgame.vn/images/dong.png) center top no-repeat;
        background-size: 96%;
        top: 10px;
        right: 10px;
    }

/*popup*/

.popup_Npu {
    background: rgba(0,0,0,0.9);
    width: 780px;
    min-height: 360px;
    margin: 20px auto 0;
    position: relative;
}

    .popup_Npu a.p_dong {
        position: absolute;
        width: 58px;
        height: 58px;
        background: url(http://cf.vtcgame.vn/images/dong.png) center top no-repeat;
        top: 10px;
        right: 10px;
    }

.p_title {
    text-align: center;
    padding: 40px 20px 20px 20px;
    font-family: 'UVNHongHaHepRegular', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
}

.p_nd {
    font-size: 14px;
    color: #fff;
    padding: 0 30px 10px 30px;
    line-height: 20px;
    text-align: center;
}

    .p_nd span {
        font-weight: bold;
        color: #4cff2e;
    }

.p_list {
    padding: 10px 30px 0 30px;
    text-align: center;
}

    .p_list li {
        display: inline-block;
        width: 210px;
        margin: 0 10px;
    }

.p_from {
    padding: 0 40px 10px 40px;
    color: #fff;
}

    .p_from p {
        width: 190px;
        font-size: 14px;
        color: #fff;
        float: left;
        text-align: right;
        padding-right: 15px;
    }

    .p_from input {
        width: 250px;
        padding: 2px 10px;
    }

    .p_from a {
        color: #F00;
    }

        .p_from a:hover {
            color: #F00;
            text-decoration: underline;
        }

    .p_from select {
        width: 272px;
        padding: 2px 10px;
    }

    .p_from button {
        background: #b81515;
        font-size: 16px;
        padding: 5px 15px 5px 15px;
        font-weight: bold;
        color: #fff;
        border: none;
        cursor: pointer;
        position: absolute;
    }

        .p_from button:active {
            margin-top: 1px;
        }

.p_nd2 {
    padding: 10px 20px;
    color: #fff;
    line-height: 20px;
}

    .p_nd2 a {
        color: #F00;
    }

        .p_nd2 a:hover {
            color: #F00;
            text-decoration: underline;
        }

    .p_nd2 span {
        font-weight: bold;
        color: #4cff2e;
    }

a.info_dklai {
    float: left;
    background-image: url(http://cf.vtcgame.vn/images/dk_lai.png);
    background-repeat: no-repeat;
    height: 51px;
    width: 121px;
    margin: 20px 50px 0 220px;
}

a:hover.info_dklai {
    float: left;
    background-image: url(http://cf.vtcgame.vn/images/dk_lai_r.png);
    background-repeat: no-repeat;
}

a.info_huy {
    float: right;
    background-image: url(http://cf.vtcgame.vn/images/huy.png);
    background-repeat: no-repeat;
    height: 51px;
    width: 121px;
    margin: 20px 220px 0px 0;
}

a:hover.info_huy {
    float: right;
    background-image: url(http://cf.vtcgame.vn/images/huy_r.png);
    background-repeat: no-repeat;
}

/*them moi slide banner trai*/

.cycle-pager-active a {
    background: url(http://cf.vtcgame.vn/images/s1.png) #b81515 10px 12px no-repeat !important;
}

/*.title ul.text li a {
    float: left;
    padding: 0 30px 0 10px;
    line-height: 54px;
    font-family: 'UVNHongHaHepRegular';
    font-size: 24px;
    color: #fff;
}*/

ul.slidenumb strong {
    display: block;
    float: left;
    margin: 0 0 0 5px;
}

#divNumber strong a {
    background-color: #DEDEDE;
    color: #545454;
    float: left;
    font: bold 12px Arial,Helvetica,sans-serif;
    list-style: none outside none;
    margin: 0 5px 0 0;
    padding: 2px 5px;
    text-decoration: none;
    z-index: 999;
}

.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
    color: #000;
}

    .ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .ac_results li {
        margin: 0px;
        padding: 5px 5px;
        cursor: default;
        display: block;
        /*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
        /*width: 100%;*/
        font: menu;
        font-size: 12px;
        /*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
        line-height: 16px;
        overflow: hidden;
    }

.ac_loading {
    /*background: white url('/mobile/plugin/JAutoComplete/indicator.gif') right center no-repeat;*/
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}

.backtop {
    background: url("http://cf.vtcgame.vn/images/top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 210px;
    cursor: pointer;
    display: none;
    height: 70px;
    position: fixed;
    right: 0;
    text-indent: -99999px;
    z-index: 100000;
    width: 65px;
}

/*Banner trai,phai*/
.ulhideshowleft li a.min:hover {
    background-position: -30px -15px;
}

.ulhideshowleft li a.max:hover {
    background-position: -60px -15px;
}

.ulhideshowleft li a {
    background-image: url("http://event.vtcgame.vn/menu/adv/underpopupbtn.gif");
    background-repeat: no-repeat;
    width: 30px;
    height: 0px;
    padding-top: 15px;
    overflow: hidden;
    float: left;
}

    .ulhideshowleft li a.max {
        background-position: -60px 0;
    }

    .ulhideshowleft li a.min {
        background-position: -30px 0;
    }

/*Right*/
.ulhideshowright li a.min {
    background-position: -30px 0;
}

.ulhideshowright li a {
    background-image: url("http://event.vtcgame.vn/menu/adv/underpopupbtn.gif");
    background-repeat: no-repeat;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 15px;
    width: 30px;
}

.ulhideshowright {
    float: right;
    height: 15px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
/*End banner trai,phai*/

.banner_bottom {
    overflow: hidden;
}

.sidebar.scroll-to-fixed-fixed {
    margin-top: 0px;
}

.active {
    background: url(http://cf.vtcgame.vn/images/s1.png) 10px 12px no-repeat;
}

.modalTabelGray {
    position: fixed !important;
    width: 100%;
    height: 100%;
    background-color: #000000;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.6;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    z-index: 99;
    /*border: 1px solid yellow;*/
    top: 0px;
    left: 0px;
}

.dong {
    position: absolute;
    width: 39px;
    height: 42px;
    top: -15px;
    right: -15px;
}

.popup1 {
    background: #211307;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px;
    width: 350px;
    margin: 5% auto 0 auto;
    position: relative;
    border: 2px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #c0ab79;
    text-align: center;
}

.popupRoyal {
    background: linear-gradient(#644BB5, #5D0606);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 560px;
    padding: 15px 20px;
    border: 2px solid #848485;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    position: relative;
}

.popup_text {
    padding: 30px 0;
    color: white;
}

.popup_button {
    text-align: center;
    padding: 10px 0 0 0;
}

    .popup_button a {
        display: inline-block;
        background: #05710B;
        border: 1px solid #1b1c1d;
        height: 30px;
        width: 90px;
        margin: 0 10px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }

        .popup_button a:hover {
            border: 1px solid #62656c;
        }

a.nut_dong {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ccc;
    padding: 0 7px;
    background: #27252d;
}

.nhanqua11 {
    height: 113px;
    border-bottom: 1px solid #333;
    padding: 3px;
}

.nut_nhan_11 {
    float: right;
    margin-left: -14px;
    margin-top: -8px;
}

.dangnhap-popup {
    font-family: 'UVNHongHaHepRegular';
    position: absolute;
    top: 208px;
    background-image: url(http://cf.vtcgame.vn/images/popup_dangnhap.png);
    width: 280px;
    height: 134px;
    color: #e8e8e8;
    text-align: center;
}

    .dangnhap-popup p {
        font-size: 16px;
        margin-top: 24px;
    }

    .dangnhap-popup h2 {
        font-size: 33px;
        color: #ffc84c;
        text-shadow: 0 -2px 0 black;
    }

    .dangnhap-popup ul {
        display: inline-block;
        margin-top: 17px;
    }

        .dangnhap-popup ul li {
            display: inline-block;
        }

            .dangnhap-popup ul li a {
                color: #e8e8e8;
                font-size: 14px;
                margin-right: 30px;
                margin-left: 10px;
            }

/*Popup nh&#7853;n th&#432;&#7903;ng*/

.dangnhap-popup {
    font-family: 'UVNHongHaHepRegular';
    position: absolute;
    top: 165px;
    background-image: url(http://cf.vtcgame.vn/images/popup_dangnhap.png);
    width: 280px;
    height: 134px;
    color: #e8e8e8;
    text-align: center;
    margin: 0 0 0 720px;
}

.nhanthuong-btn {
    display: none;
}

.nentoi {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9;
    position: fixed;
}

.dangnhap-table {
    color: #ffffff;
    font-family: 'UVNHongHaHepRegular';
}

    .dangnhap-table .title-table {
    }

.luot-dangnhap p span {
    color: #efca65;
}

.dangnhap-table .title-table h2 {
    color: #ffd55d;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 2px;
}

.dangnhap-table .title-table .date {
}

    .dangnhap-table .title-table .date ul li {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
    }

        .dangnhap-table .title-table .date ul li:last-child {
            cursor: pointer;
        }

        .dangnhap-table .title-table .date ul li:first-child {
            cursor: pointer;
        }

.dangnhap-table table {
    width: 100%;
    font-size: 14px;
}

.dangnhap-table .pages .phantrang {
    height: 42px;
}

    .dangnhap-table .pages .phantrang a {
        display: inline-block;
        font-size: 14px;
        line-height: 31px;
        color: #f3d679;
        cursor: pointer;
        margin-top: 5px;
        width: 32px;
        height: 32px;
        vertical-align: -webkit-baseline-middle;
    }

        .dangnhap-table .pages .phantrang a.active {
            background: #1b1b1b;
            width: 32px;
            height: 32px;
        }

        .dangnhap-table .pages .phantrang a:hover {
            background-color: #1b1b1b;
            color: white;
            width: 32px;
            height: 32px;
        }

.dangnhap-table table tbody tr td img {
    cursor: pointer;
}

.dangnhap-table > ul > li:last-child:hover {
    width: auto;
    height: auto;
    border-left: 10px solid #efca65;
    background-color: transparent;
}

.dangnhap-table > ul {
}

.dangnhap-table .luot-dangnhap {
    position: absolute;
    left: 16px;
    top: 35px;
    color: #fff;
    font-size: 15px;
}

.dangnhap-table table thead tr {
    background-color: #1b1b1b;
    font-family: tahoma;
    color: #efca65;
    font-size: 12px;
    height: 22px;
}

.dangnhap-table table tbody tr td {
    border-bottom: 1px solid #444444;
    height: 32px;
    height: 36px;
}

.dangnhap-table .title-table {
    background-color: #433e3d;
    background-image: url(http://cf.vtcgame.vn/images/table_title.png);
    width: 598px;
    height: 61px;
}

    .dangnhap-table .title-table > img {
        position: absolute;
        top: 6px;
        cursor: pointer;
        right: 10px;
    }

.dangnhap-table .arrow-right:hover {
    border-left: 10px solid #eabb53;
}

.dangnhap-table .arrow-left:hover {
    border-right: 10px solid #eabb53;
}

.dangnhap-table table .btn-nhan {
    background-color: black;
}
/*.dangnhap-table .arrow-left {
	width: 0;
	height: 0;
	cursor: pointer;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #93908f;
}
.dangnhap-table .arrow-right {
	width: 0;
	cursor: pointer;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left: 10px solid #93908f;
}*/
.dangnhap-table {
    background-color: #353535;
    width: 599px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -213px;
    z-index: 999;
    margin-left: -300px;
    text-align: center;
}

.nhanthuong-btn ul li {
    cursor: pointer;
}

    .nhanthuong-btn ul li:hover {
        width: 38px;
        height: 38px;
    }

.dangnhap-popup p {
    font-size: 16px;
    margin-top: 24px;
}

.dangnhap-popup h2 {
    font-size: 33px;
    color: #ffc84c;
    text-shadow: 0 -2px 0 black;
}

.dangnhap-popup ul {
    display: inline-block;
    margin-top: 17px;
}

    .dangnhap-popup ul li {
        display: inline-block;
    }

        .dangnhap-popup ul li a {
            color: #e8e8e8;
            font-size: 14px;
            margin-right: 30px;
            margin-left: 10px;
        }

            .dangnhap-popup ul li a:hover {
                color: #ffc84c;
            }
